img{
    border-radius: 10px;
}
h1{
    font-size: 30px;
    text-align: center;
    color: #014486;
    font-weight: bold;
}
h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: #0176d3;
}
p{
    color: #0176d3;
}
button{
    text-align: center;
    margin-top: 25px;
}
.container{
    padding: 3px;
    text-align: center;

}
.paddingpp{
    padding: 20px ;
}

@media only screen and (min-width: 768px) {
    .container{
        float: left;
        width: 50%;
        text-align: center;
        

    }
    .paddingp{
        padding-bottom: 30px;
    }
    h1{
        font-size: 36px;
        margin-top: 10%;
        text-align: center;
    }
    .paddingpp{
        padding: 20px ;
    }
    img{
        border-radius: 10px;
        width: 60%;
    }
}

.animate__animated {
    --animate-duration: 4s;
  }